<?xml version="1.0" encoding="utf-8"?>
<DataType Key="643f7bf2-90e9-4b68-b7af-f671fd940bca" Alias="New DocType From Source - Textbox" Level="1">
  <Info>
    <Name>New DocType From Source - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 123
}]]></Config>
</DataType>